* {
    background-color: #1f2231;
    border: dotted green 1px;
}

@font-face {
    font-family: "Ooky";
    src: url("./assets/Ooky-OAwo.ttf") format("truetype")
}

body {
    font-family: "Ooky";
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

h1 {
    color: #cfcbb1;
    font-size: 60px;
}

button, button > * {
    background-color: #6e7a94;
}

button {
    display:flex;
    font-family: "Ooky";
    font-size: 20px;
    color: #6baa75;
    border-radius: 10px;
    min-width: 200px;
}

.linkImage {
    background-color: black;
    max-width: 30px;
}

.linkImageBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

